		.jumbotron p {
			margin-bottom: 15px;
			font-size: 13px;
			line-height: 2em;
			font-weight: 200;
			width: 450px;
			margin-left: auto;
			margin-right: auto;
		}
		
		table {
			width: 450px;
			margin-left: auto;
			margin-right: auto;
			text-align: left;
			border: 1px solid black;
		}
		
		table td {
			text-align: left;
			padding: 8px 20px 8px 20px;
		}
		
		table input {
			text-align: left;
		}
		
		table th {
			text-align: center;
			padding: 0px 5px;
			width: 20px;
			background-color: lightgray;
		}
		
		.column-width {
			width: 70px;
		}
		
		.left {
			text-align: left;
		}
		
		.right {
			text-align: right;
}
		
		.center {
			text-align: center;
		}
		
		.bump-space {
			padding-top: 30px;
		}
		
		.label {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 14px;
			line-height: 1.42857143;
			color: #333;
			font-weight: normal;
			width: 100px;
			text-align: center;
			margin-left: 0px;
		}

		
		#panel,
		#flip {
			padding: 5px;
			text-align: center;
			background-color: #c0c0c0;
			width: 450px;
			border: solid 1px #c3c3c3;
			margin-right: auto;
			margin-left: auto;
		}
		
		#panel {
			padding: 10px;
			width: 450px;
			display: none;
			text-align: left;
		}