		.jumbotron p {
			margin-bottom: 15px;
			font-size: 14px;
			font-weight: 200;
		}
		
		
		#panel,
		#flip {
			padding: 5px;
			text-align: center;
			background-color: #c0c0c0;
			width: 500px;
			border: solid 1px #c3c3c3;
			margin-right: auto;
			margin-left: auto;
		}
		
		#panel {
			padding: 10px;
			width: 500px;
			display: none;
			text-align: left;
		}
		
		.bump-space {
			padding-top: 15px;
		}
		
		#draggable {
			width: 150px;
			height: 150px;
			background-color: lightyellow;
		}