		.jumbotron p {
			margin-bottom: 15px;
			font-size: 14px;
			font-weight: 200;
		}
		
		table {
			width: 300px;
			margin-left: auto;
			margin-right: auto;
			text-align: left;
			border: 1px solid black;
		}
		
		table td {
			text-align: left;
			padding: 5px;
		}
		
		table input {
			text-align: right;
		}
		
		table th {
			text-align: center;
			padding: 0px 5px;
			width: 20px;
		}
		
		.column-width {
			width: 70px;
		}
		
		.left {
			text-align: left;
		}
		
		.right {
			text-align: right;
		}
		
		.center {
			text-align: center;
		}
		
		.bold {
			font-weight: bold;
		}
		
		.bump-space {
			padding-top: 15px;
		}
		
		label {
			display: inline-block;
			width: 8em;
		}